* {
    font-family: sans-serif;
    
}

/*application of the CSS margin property thanks to display:block */
.image {
    display: block;
    margin:auto;
    width: 60%

}

.description {
    margin-left: 440px;
}


h1 {
    color: red;
    font-size: 2.5em;
    text-decoration:overline;
    margin:auto;
    text-align:center;
}

h3#ingredients span  {
  
    background-color: red;
    font-size: 1.4em;
    margin-left: 30px;
    margin-right: auto;
    border: 30px;
    padding: 12px;
    
}


h3#preparation span {

    background-color: red;
        font-size: 1.4em;
        margin-left: 30px;
        margin-right: auto;
        border: 30px;
        padding: 12px;

}

.forThe {
    font-weight:bold;
    text-decoration:underline;

}
